1. Print nmber from 1 to 5 ing a while loop.

In [1]:
number = 1

while number <= 5:
    print(number)
    number += 1

1
2
3
4
5

2. Calclate the sum of number from 1 to 10 using a while loop.

In [2]:
number = 1
sum_of_numbers = 0

while number <= 10:
    sum_of_numbers += number
    number += 1

print("The sum of numbers from 1 to 10 is:", sum_of_numbers)

The sum of numbers from 1 to 10 is: 55

3. Calculate the factorial of a number using a for loop.

In [3]:
number = 5

result = 1

for i in range(1, number + 1):
    result *= i

print(f"The factorial of {number} is: {result}")

The factorial of 5 is: 120

4. Count the number of vowel in a string using a for loop.

In [4]:
input_string = "Hello, World!"

input_string = input_string.lower()

vowel_count = 0

vowels = {'a', 'e', 'i', 'o', 'u'}

for char in input_string:
    if char in vowels:
        vowel_count += 1

print(f"The number of vowels in the string is: {vowel_count}")

The number of vowels in the string is: 3

5. Print a pattern using nested loop.

In [9]:
num_rows = 5

for i in range(num_rows):
    for j in range(i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

6. Generate a multiplication table using nested loop.

In [11]:
num_start = 1
num_end = 10

for i in range(num_start, num_end + 1):
    for j in range(1, 11):
        result = i * j
        print(f"{i} x {j} = {result}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100